/* Prevent full screen rubber-banding.
 * Individual divs with overflow: scroll will still have bounce.
 */
html, body {
  height: 100%;
  overflow: hidden;
  /*background-color: pink;*/
}

/*
 * The viewport for the entire SPA. Designed to fill the entire window.
 *
 * TODO: Determine if this is necessary.
 */
.viewport {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  /*background-color: pink;*/
}

.main {
  height: 100%;
}

.sidebar {
  /*background-color: red;*/
  top: 0;
  bottom: 0;
  width: 20%;
  overflow-y: scroll;
}

.content {
  /*background-color: blue;*/
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

.album img {
  max-width: 350px;
}

.pointer {
  cursor: pointer;
}

.header {
  height: 60px;
}

.now-playing {
  height: 90%;
}

.now-playing > img {
  height: 100%;
}

.controls {
  justify-content: space-around;
  align-items: center;
}

.controls > .fa-pause, .controls > .fa-play {
  font-size: 1.25em;
}

.divider {
  width: 1px;
  height: 90%;
  background-color: black;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
}

.modal-content {
  text-align: left;
  background-color: white;
  display: inline-block;
  width: 500px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-content img {
  max-height: 200px;
}

.overflow-scroll {
  max-height: 50vh;
  overflow-y: scroll;
}
