@font-face {
  font-family: 'AvenirNext';
  src: url('fonts/AvenirNext-Regular.ttf');
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url('fonts/AvenirNext-Bold.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('fonts/Lobster_1.3.otf');
}

/* Prevent full screen rubber-banding.
 * Individual divs with overflow: scroll will still have bounce.
 */
html, body {
  height: 100%;
  overflow: hidden;
  /*background-color: pink;*/
  font-family: 'AvenirNext';
  color: #4A4A4A;
}

.logo::first-letter {
  font-size: 120%;
}

.logo {
  font-family: 'Lobster';
  font-size: 2.6em;
}

.bold {
  font-family: 'AvenirNextBold' !important;
  font-weight: normal;
}

/*
 * The viewport for the entire SPA. Designed to fill the entire window.
 *
 * TODO: Determine if this is necessary.
 */
.viewport {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  /*background-color: pink;*/
}

.main {
  height: 100%;
}

.sidebar {
  /*background-color: red;*/
  top: 0;
  bottom: 0;
  width: 20%;
  overflow-y: scroll;
}

.content {
  /*background-color: blue;*/
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

.album img {
  max-width: 300px;
}

.pointer {
  cursor: pointer;
}

.header {
  height: 80px;
}

.now-playing {
  height: 90%;
}

.now-playing > img {
  height: 100%;
}

.controls {
  justify-content: space-around;
  align-items: center;
}

.controls > .fa-pause, .controls > .fa-play {
  font-size: 2.25em;
}

.divider {
  width: 1px;
  height: 90%;
  background-color: rgba(151, 151, 151, .25);
}

.border-bottom {
  border-color: rgba(151, 151, 151, .25) !important;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
  z-index: 999;
}

.modal-content {
  text-align: left;
  background-color: white;
  display: inline-block;
  max-width: 100%;
  min-width: 40%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-content img {
  max-height: 200px;
}

.overflow-scroll {
  max-height: 50vh;
  overflow-y: scroll;
}

.track-list-row:first-child .track-content {
  border: 0;
}

.track-list-row .track-content {
  border-top: 1px solid rgba(151, 151, 151, .25);
}

.track .track-position {
  min-width: 1.2rem;
}

.track .track-artist {
  color: rgba(74, 74, 74, .7);
}

/* Ensure div containing image is square */
.box {
  position: relative;
  padding-bottom: 100%;
}

/* Take image out of normal flow, allowing .box to essentially flow underneath the image */
.box > img {
  position: absolute;
  object-fit: contain;
  max-height: 100%;
}

.btn {
  color: #18C29C;
  background-color: white;
  border-radius: 2px;
  border: 3px solid #18C29C;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  cursor: pointer;
}

.btn:disabled {
  color: white;
  background-color: #18C29C;
}

.btn-group {
  display: flex;
}

.btn-group .btn {
  flex-grow: 1;
  margin: 0.5rem;
}

.btn:first-child {
  margin-left: 0;
}
